<ion-view>
	<ion-pane style="top:7%">
	<ion-content>
		<div class="item item-button-left">
			<button class="button" ui-sref="profile">
			   <i class="icon ion-chevron-left"></i>
			    <p> Back</p>
			</button>
			<br>
		</div>
		<section class="list">
			<label class="item item-input item-floating-label">
			    <input type="text" ng-model="txtStatus" placeholder="{{global.avanStatus}}">
			</label>
			<div>
			  <button class="button button-block " ng-click="saveStatus()">Save</button>
			</div>
		</section>
		</ion-content>	
	</ion-pane>
</ion-view>