<ion-view view-title="AvanLearn">
  <ion-pane class="padding" style="top:7%">
    <ion-content>
    	<article class="item-remove-animate item-avatar item-icon-right" ng-repeat="video in videos" type="item-text-wrap" ui-sref="player({Id:{{video.id}}})">
        	<div class="list card">
        		<div class="item ">
        			<h2 style="white-space: normal;">{{video.name}}</h2>
            	</div>
            	<div class="item item-body">
            		<img class="full-image" ng-src="{{video.thumb}}">
            		<p style="white-space: normal;">{{video.desc}}</p>
            	</div>
        	</div>
    	</article>
    </ion-content>
  </ion-pane>
</ion-view>