<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-pane class="padding" style="top:7%">
    <div  class="item-avatar item-icon-right" style="height: 10%">
        <img ng-src="{{chat.face}}" style="height: 150%">
        <h4>{{chat.name}}</h4>
    </div>
    <div class='list' style="height: 72%">
      <ion-content>
      <!-- ll the chats will be placed here-->
        <div ng-repeat="msg in msgs" >
          <div ng-if="msg.id==1">
               <label class="item item-stable" style="border-radius: 10px;">{{msg.text}}</label>
          </div>
          <div ng-if="msg.id==2">
               <label class="item item-calm padding" style="border-radius: 10px;text-align: right;">{{msg.text}}</label>
          </div>
          <br>
        </div>
      </ion-content>
    </div>
    <div class="list" style="bottom:10%">
      <div class="item item-input-inset">
          <input class="item-input-wrapper" type="text" ng-model="txtMsg">
        <button class="button button-small" ng-click="sendMsg(txtMsg)">
          Send
        </button>
      </div>

    </div>
  </ion-pane>
</ion-view>
