<ion-view >
  <ion-pane >
    <ion-tabs class="tabs-energized tabs-icon-top" >
      <ion-tab title="News" icon-on="ion-android-globe" icon-off="ion-android-globe" ui-sref="home.news">
        <ion-nav-view name='newsfeeds'></ion-nav-view>
      </ion-tab>
      <ion-tab title="Anan Trends" icon-on="ion-arrow-graph-up-right" icon-off="ion-arrow-graph-up-right" ui-sref="home.trendings">
        <ion-nav-view name='trending'></ion-nav-view>
      </ion-tab>
      <ion-tab title="Avan Messanger" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" ui-sref="home.chats">
        <ion-nav-view name='chatroom'></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>