<ion-view view-title="Reserve A Room">
  <ion-pane class="padding" style="top:7%">
    <div ng-if="booking=='none'" style="height: 20%; width: 100%;text-align:center">
    	<img ng-src="img/ReserveRoomIcon.png" style="height: 100%">
    </div>
    <div ng-if="booking=='ok'" style="height: 20%; width: 100%;text-align:center">
    	<img ng-src="img/ok.png" style="height: 100%">
    </div>
    <div ng-if="booking=='notok'" style="height: 20%; width: 100%;text-align:center">
    	<img ng-src="img/notok.png" style="height: 100%">
    </div>
    <div ng-if="booking=='booked'" style="height: 20%; width: 100%;text-align:center">
    	<img ng-src="img/booked.png" style="height: 100%">
    </div>
    <button class="button button-block button-positive" ng-click="datePickerCallback()"> 
        	{{ currentDate | date:'dd - MMMM - yyyy' }} 
    </button>
    <button class="button button-block button-positive" ng-click="TimePicker()"> {{("00"+selectedTime.getUTCHours()).slice(-2)}}:{{("00"+selectedTime.getUTCMinutes()).slice(-2)}} </button>
  
  <button class="button button-block button-positive" ng-click="checkAval()"> 
  	Check Availability
  </button>
  <button class="button button-block button-positive" ng-click="bookRoom()"> 
  	Book Room
  </button>
  </ion-pane>
</ion-view>