<ion-view>
	<ion-pane style="top:7%">
		<ion-content>
			<ion-refresher pulling-text="Pull to refresh..." on-refresh="deRefreashNews()"></ion-refresher>
			<section class='list'>
			  <article>
			    <a class="item item-avatar card" ui-sref="addStatus">
			      <img src="img/venkman.jpg">
			      <h2>Anirban</h2>
			      <p>Whats on your mind</p>
			    </a>
			  </article>
			  <article ng-repeat="newsArticle in news.articles" >
			    <a href="{{newsArticle.url}}" class="item">
			      <div class="list card">
			        <div class="item ">
			          <h2 style="white-space: normal;">{{newsArticle.title}}</h2>
			          <p>Posted On: {{newsArticle.publishedAt}}</p>
			        </div>
			        <div class="item item-body">
			          <img class="full-image" ng-src="{{newsArticle.urlToImage}}">
			          <p style="white-space: normal;">{{newsArticle.description}}</p>
			        </div>
			      </div>
			    </a>
			  </article>
			</section>
		</ion-content>
	</ion-pane>
</ion-view>