<ion-view>
	<ion-pane style="top:7%">
		<div class="item item-button-left">
			<button class="button" ui-sref="home">
			   <i class="icon ion-chevron-left"></i>
			   	<p> </p>
			    <p> Back</p>
			</button>
			<br>
		</div>
		<ion-content style="top:8%">
			<section class='list'>
					<div class="item item-divider"></div>
			    	<div class="item item-image item-button-right">
			    		<img class="full-image image-circle" src="img/venkman.jpg">
			    		<button class="button">
			    			<i class="icon ion-camera"></i>
			    		</button>	
			    	</div>
			    	<div class="item item-divider"></div>
			    	<div class="item item-button-right">
			    		{{global.avanUsername}}
			    		<button class="button">
			    		   <i class="icon ion-edit"></i>
			    		</button>
			    	</div>
			    	<div class="item item-divider"></div>
			    	<div class="item" ui-sref="addStatus">
			    			Status
			    		<br>
			    		<br>
			    		<a>
			    			{{global.avanStatus}}
			    		</a>
			    	</div>
			    	<div class="item item-divider">
			    		<br>
			    		<br>
			    		<br>
			    	</div>		    	 	
			</section>
		</ion-content>
	</ion-pane>
</ion-view>