<ion-view>
  <ion-pane>
    <ion-content style="top:7%">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="deRefreashTrending()"></ion-refresher>
      <section class='list'>
        <article ng-repeat="newsArticle in popular.articles" >
          <a href="{{newsArticle.url}}" class="item">
            <div class="list card">
              <div class="item ">
                <h2 style="white-space: normal;">{{newsArticle.title}}</h2>
                <p>Posted On: {{newsArticle.publishedAt}}</p>
              </div>
              <div class="item item-body">
                <img class="full-image" ng-src="{{newsArticle.urlToImage}}">
                <p style="white-space: normal;">{{newsArticle.description}}</p>
              </div>
            </div>
          </a>
        </article>
      </section>
    </ion-content>
  </ion-pane>
</ion-view>