<!--div class="item-input-inset"-->

<ion-header-bar id="headerBar" class="bar-energized bar bar-header item-input-inset">
	<button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
 	<div class="h1 title">{{title}}</div>
 	<button menu-toggle = "right" class = "button button-icon icon ion-navicon"></button>
 <!--/div-->
 </ion-header-bar>