<ion-view >
	<ion-pane>
		<div class="list">
		    <a class="item item-avatar" ui-sref="profile" menu-toggle = "right">
		      <img src="img/venkman.jpg">
		      <h2>Anirban</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		</div>
		<div class="list">
		  <a class="item item-icon-left" ui-sref="home.news" menu-toggle = "right" >
		    <i class="icon ion-ios-home"></i>
		    Home
		  </a>
		  <a class="item item-icon-left" ui-sref="home.chats" menu-toggle = "right">
		    <i class="icon ion-email"></i>
		    Messages 
		  </a>
		  <a class="item item-icon-left" ui-sref="learn" menu-toggle = "right">
		    <i class="icon ion-android-bulb"></i>
		    Avan Learn
		  </a>
		  <a class="item item-icon-left" ui-sref="room" menu-toggle = "right">
		    <i class="icon ion-easel"></i>
		    Reserve A Room
		    <span class="item-note">
		    </span>
		  </a>
		  <a class="item item-icon-left" ui-sref="events" menu-toggle = "right">
		    <i class="icon ion-calendar"></i>
		    Avan Events
		    <span class="item-note">
		    </span>
		  </a>
		</div>
	</ion-pane>
</ion-view>