<ion-view>
	<ion-pane style="top:7%">
		<div class="modal transparent fullscreen-player" ng-click="closeModal()">
			<video ng-src="{{video.video}}" class="centerme" controls="controls" autoplay></video>
		</div>
		<ion-content style="top:8%">
			<section class='list'>
			    	<div class="item item-button-right">
			    		<h2>{{video.name}}</h2>
			    		<p>{{video.desc}}</p>
			    		<button class="button">
			    			<h4>Mark as complete</h4>
			    		   <i class="icon ion-edit"></i>
			    		</button>
			    	</div>	    	 	
			</section>
		</ion-content>
	</ion-pane>
</ion-view>

