/* Empty. Add your own CSS if you like */

.image-circle {
     height: auto; 
     width: auto; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
} 
.color_blue{color:#387ef5!important}.bg_color_blue{background-color:#387ef5}.date_col:hover{background-color:rgba(56,126,245,.5);cursor:pointer}.date_col:active{background-color:rgba(56,126,245,1);cursor:pointer}.no_padding{padding:0}.date_cell{padding:5px}.error_msg{color:#c00!important;font-size:12px}.date_selected{background-color:rgba(56,126,245,1)!important}.today{background-color:rgba(186,186,186,1)}.pointer_events_none{pointer-events:none!important;color:#AAA}.select_section{padding:0}.select_section label{padding:12px}.select_section select{font-size:12px;font-weight:700;padding:3px;direction:ltr;left:0;width:100%;max-width:100%}.select_section .item-select:after{right:4px;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}